.DS_Store
MyCPAN-*
blib
pm_to_blib
Makefile
*.old
MANIFEST.bak
Changes.bak
cover_db
test-corpus/indexer_reports
test-corpus/modules
test-corpus/authors/id/B/BD/BDFOY/CHECKSUMS
config_test.pl
test-corpus/authors/00whois.xml
test-corpus/authors/01mailrc.txt.gz
