!Build/
*.bak
*.bbproj
*.bs
*.o
*.old
*.rej
*.tar
*.tar.gz
*.tgz
*.zip
.DS_Store
.last_cover_stats
.prove
/.build/
/MANIFEST.bak
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
Build
Build.bat
Changes.bak
MANIFEST.bak
META*
MYMETA*
Makefile
MyCPAN-*
_build/
blib
config_test.pl
cover_db
cover_db/
inc/
nytprof.out
pm_to_blib
test-corpus/authors/00whois.xml
test-corpus/authors/01mailrc.txt.gz
test-corpus/authors/id/B/BD/BDFOY/CHECKSUMS
test-corpus/indexer_reports
test-corpus/modules
*.icloud

MANIFEST*[123456789]
Changes*[123456789]

